body {
  font-family: "Shizuru", cursive;
  font-family: "Staatliches", cursive;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 50px;
}
#kamruzzaman {
  color: #ffa500;
}
section {
  display: flex;
  margin-bottom: 100px;
}

.half-widht {
  width: 50%;
  padding-left: 5%;
}
.half-widht img {
  width: 60%;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  background-color: #ffa500;
  padding: 10px 40px;
  border-radius: 5px;
}
.topsection {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.sec2 {
  width: 50%;
  padding-left: 5%;
}
.sec2 img {
  width: 60%;
}
.cv {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  background-color: #ffa500;
  padding: 10px 40px;
  border-radius: 5px;
}
.section2 {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
