body {
  font-family: "Shizuru", cursive;
  font-family: "Staatliches", cursive;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 30px;
}
p {
  font-size: 25px;
}
.kamruzzaman {
  color: #ffa500;
}
.sectionflex {
  display: flex;
  margin-bottom: 100px;
}

.half-widht {
  width: 50%;
  padding-left: 5%;
}
.half-widht img {
  width: 60%;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  background-color: #ffa500;
  padding: 10px 40px;
  border-radius: 5px;
}
.topsection {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
  border-bottom: 1px solid black;
}
.sec2 {
  width: 50%;
  padding-left: 5%;
}
.sec2 img {
  width: 60%;
}
.cv {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  background-color: #ffa500;
  padding: 10px 40px;
  border-radius: 5px;
}
.section2 {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  border-bottom: 1px solid black;
}
.sec3 {
  width: 40%;
  padding: 15px;
  box-shadow: 5px 5px 8px #888888;
  margin: auto;
  text-align: center;
  border-radius: 15px;
  border-image: linear-gradient(blue, tomato);
  border-left: 7px solid;
  border-image-slice: 1;
}

.section3 {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  border-bottom: 0.5 px solid black;
}
footer {
  color: #888888;
}
